$color_1: aliceblue;
$color_2: grey;
$color_3: gray;
$color_4: #ff312e;
$color_5: #F7B538;
$font-family_1: 'Roboto', sans-serif;
$background-color_1: #0c0c0c;
$background-color_2: #333138;
$background-color_3: #515052;
$background-color_4: #3a3335;